* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "NTR", sans-serif;
  font-size: 2.3rem;
  color: rgb(26, 1, 32);
  font-weight: 600;
  line-height: 1.7;
  background-repeat: no-repeat;
  /* background-color: ; */
  background: linear-gradient(
    90deg,
    hsla(205, 46%, 30%, 1) 0%,
    hsla(260, 29%, 36%, 1) 100%
  );
  background-size: contain;
  background-position: top;
  width: 100vw;
  max-width: 1440px;
  min-width: 340px;
  overflow-x: hidden;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7rem;
  padding-top: 3rem;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 6rem;
}

.main {
  /* width: 100vw; */

  /* background: hsla(205, 46%, 30% 1); */
  background: linear-gradient(
    90deg,
    hsla(205, 46%, 30%, 1) 0%,
    hsla(260, 29%, 36%, 1) 100%
  );
  margin: 0 auto;
  /* width: fit-content; */
  overflow: hidden;
}

.header__logo-box {
  position: absolute;
  top: 5rem;
  left: 4rem;
}

.header__logo {
  height: 4rem;
}

.navigation-bar {
  margin-left: 10rem;
}

.navigation-bar li {
  display: inline;
  padding: 0.7rem;
}

.navigation-bar li a {
  text-decoration: none;
  color: #fff;
}

.navigation-bar li a:hover {
  color: rgba(185, 161, 235, 0.781);
}

.navigation-bar li a:active {
  color: #99e9f2;
}

#search {
  width: 12rem;
  height: 0.1rem;
  font-size: 2.1rem;
  border-radius: 100px;
  border: none;
  padding: 2rem;
  color: rgb(26, 1, 32);
}

.connect {
  background-color: rgba(142, 123, 180, 0.781);
  color: #fff;
  text-decoration: none;
  border-radius: 100px;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.connect:hover {
  background-color: #fff;
  color: hsla(260, 29%, 36%, 1);
  box-shadow: 0 2rem 4rem rgb(0 0 0 / 40%);
}
.connect:active {
  color: #99e9f2;
  transform: translateY(0.2rem);
}

/* menu */

.menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: none;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 2.5rem;
  height: 2rem;
  padding: 1.2rem;
  background-color: rgba(142, 123, 180, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger line */

.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves line Down */

.menu-wrap .hamburger > div:after {
  top: 10px;
}

/* Toggler animate */

.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* TUrn line into X */
.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate  on hover when checked  */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(225deg);
}

/* show menu */

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.75s;
}

.menu-wrap .toggler:checked ~ .menu div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: linear-gradient(
    90deg,
    hsla(205, 46%, 30%, 1) 0%,
    hsla(260, 29%, 36%, 1) 100%
  );
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu div div ul li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu div div ul li a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
/* heading */

h1 {
  font-family: "Aldrich", sans-serif;
  font-size: 7rem;
  margin-left: 2.5rem;
  color: #eee;
  width: 60rem;
  margin-bottom: 0.95rem;
  margin-left: 6rem;
  animation: heading 1.2s ease-out 0.3s;
}

@keyframes heading {
  0% {
    transform: translateX(-100%);
  }

  80% {
    transform: translateX(5%);
  }

  100% {
    transform: translateX(0);
  }
}

.head {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.head p {
  font-size: 2rem;
  width: 40rem;

  margin-left: 6rem;
  color: rgb(26, 1, 32);
  text-align: justify;

  animation: paragraph 0.8s ease-out;
}

@keyframes paragraph {
  0% {
    opacity: 0%;
    transform: translateY(50%);
  }
}

.blockchain-image {
  position: relative;
  margin-right: 24rem;
  margin-top: 0.4rem;
}

.ape {
  width: 25rem;
  position: relative;
  border-radius: 10px;
  z-index: 3;
  animation: apeAnimate 1s ease-out;
}

@keyframes apeAnimate {
  0% {
    transform: rotate(20deg);
  }
}

.ape--1 {
  display: inline-block;
  margin-top: 3rem;
}
.ape--2 {
  z-index: 0;
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin-left: -0 2rem;
  transform: rotate(45deg);
  margin-top: -10rem;
  animation: secondAnimate 1s ease-out;
}

@keyframes secondAnimate {
  0% {
    transform: rotateX(-20deg);
  }
}

.ape--3 {
  z-index: 1;
  margin-top: -10rem;
  position: absolute;
  bottom: 5%;
  left: -40%;
  transform: rotate(-45deg);
}

/* WALLETS */

.wallet-icon {
  height: 10rem;
}

.blockchain-wallet {
  display: flex;
  justify-content: space-between;
  padding: 0 6rem;
  align-items: center;
}

.wallets {
  margin-bottom: 3rem;
}

h2 {
  text-transform: uppercase;
  font-size: 5.5rem;
  margin-left: 6rem;
  color: rgb(26, 1, 32);
}

.market--place {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.market--img {
  width: 30rem;
  border-radius: 1.8rem;
  margin-left: 15rem;
  background-color: rgba(142, 123, 180, 0.26);
  padding: 0.8rem 0.8rem 18rem 0.8rem;
  position: relative;
  margin-bottom: 5rem;
}

.col--1 {
  margin-bottom: 10rem;
}

.col--2 h3 {
  text-transform: capitalize;
  font-size: 5.5rem;
  width: 60rem;
  letter-spacing: 2rem;
  color: rgb(26, 1, 32);
  margin-top: 5rem;
}

.nft--nameMenu {
  position: absolute;
  color: #fff;
  font-size: 2.3rem;
  margin-top: -23rem;
  margin-left: 18rem;
  align-items: center;
}

.hope {
  display: flex;
  justify-content: center;
  gap: 18rem;
}

.small--menu {
  text-decoration: none;
  color: #fff;
}

.small--menu:hover {
  color: #99e9f2;
}

.small--menu:active {
  color: #000;
}

.username {
  font-size: 1.5rem;
  color: #eee;
}

.price {
  font-size: 1.8rem;
  margin-top: -2rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.eth--icon {
  height: 2rem;
  position: absolute;
  left: 11.3rem;
}

.categories {
  padding: 0 6rem;
}

.categories h3 {
  text-align: center;
  font-size: 2.5rem;
  color: #c42307;
  margin-bottom: 3rem;
}

.nfts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 5rem;
  gap: 2rem;
  border-top: 8px solid rgba(142, 123, 180, 0.781);
  border-bottom: 8px solid rgba(142, 123, 180, 0.781);
  place-items: center;
}

.drops-img {
  height: 18rem;
  border-radius: 20px;
  position: relative;
  width: 18rem;
  border: none;
  display: block;
  transition: all 0.4s;
}
.drops-img:hover {
  transform: scale(1.1);
}

.connect-card {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: rgba(142, 123, 180, 0.781);
  color: #eee;
  border-radius: 100px;
  padding: 0.5rem;
  font-size: 2rem;
}

.connect-card:hover {
  background-color: #fff;
  color: hsla(260, 29%, 36%, 1);
  box-shadow: 0 2rem 4rem rgb(0 0 0 / 40%);
}

.connect-card:active {
  color: #22b8cf;
  transform: translateY(0.2rem);
}

.drops-row-1 {
  margin-left: 6rem;
}

.nft--card {
  border-radius: 1.8rem;
  margin-bottom: 5rem;
  padding: 1.5rem 1.5rem 4rem;
  background-color: rgba(142, 123, 180, 0.781);
  font-size: 1.8rem;
  color: #000;
  text-align: center;
}

.purple-break {
  display: none;
}

.drops-price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe--section {
  display: flex;
  justify-content: center;
}

.logo--isolated {
  height: 35rem;
  width: 40rem;
}

.subscribe--heading {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}

.card--subscribe p {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

#email {
  padding: 1rem;
  width: 20rem;
  border-radius: 100px;
  height: 0.5rem;
  margin-left: 2rem;
  border: none;
}

.btn--subscribe {
  font-size: 1.5rem;
  margin-left: 3rem;
}

.card--subscribe {
  margin-top: -8rem;
  padding: 1rem 2rem 3rem;
  background-color: rgba(142, 123, 180, 0.781);
  border-radius: 3rem;
}

.input--subscribe {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.btn--subscribe {
  text-decoration: none;
  color: hsla(260, 29%, 36%, 1);
  background-color: #eee;
  padding: 0.2rem 1rem 0.2rem 1rem;
  height: 2.5rem;
  border-radius: 1.8rem;
}

.btn--subscribe:hover {
  background-color: hsla(260, 29%, 36%, 1);
  color: rgb(26, 1, 32);
}

.btn--subscribe:active {
  color: #eee;
}

.creator h3 {
  text-align: center;
}

.creator--small {
  display: block;
  color: #c42307;
  font-size: 2rem;
}

.create-img {
  width: 5rem;
}

.creator-cards {
  display: flex;
  justify-content: center;
  padding: 0 6rem;
  gap: 2rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.creator-head {
  text-align: center;
  margin-top: 3rem;
}

.creator-description {
  text-align: center;
  font-weight: 300;
}

.create-img {
  transform: translateX(-50%);
  position: absolute;
  top: 5%;
  left: 50%;
}

.creator--card1 {
  padding: 3rem;
  background-color: rgba(142, 123, 180, 0.781);
  border-radius: 2rem;
  position: relative;
}
.creator--card2 {
  padding: 3rem;
  background-color: rgba(142, 123, 180, 0.781);
  border-radius: 2rem;
  position: relative;
}
.creator--card3 {
  padding: 3rem;
  background-color: rgba(142, 123, 180, 0.781);
  border-radius: 2rem;
  position: relative;
}

.creator--btn {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 5rem;
}
.creator--btn a {
  text-decoration: none;
  color: rgb(26, 1, 32);
  background-color: rgba(142, 123, 180, 0.781);
  padding: 0.2rem 1.2rem;
  border-radius: 100px;
  font-size: 2rem;
}

.creator--btn a:hover {
  background-color: hsla(260, 29%, 36%, 1);
  box-shadow: 0 2rem 4rem rgb(0 0 0 / 40%);
}

.creator--btn a:active {
  color: #eee;
}

.top__creators {
  padding: 0 6rem;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 3rem;
  margin-bottom: 5rem;
}

.profile--img {
  height: 5rem;
  margin-top: -1.5rem;
  margin-left: -1rem;
  border-radius: 1rem;
}

.top--card {
  display: flex;
  justify-content: space-between;
  color: #eee;
}

.top-col {
  padding: 2rem 4rem;
  background: hsla(205, 46%, 30% 1);
  background: linear-gradient(
    90deg,
    hsla(205, 46%, 30%, 1) 0%,
    hsla(260, 29%, 36%, 1) 120%
  );
  height: 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
}

.top--profile {
  margin-top: -1.5rem;
  margin-left: 1rem;
}

.top--price {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.top--eth {
  height: 3rem;
}

.top-creator {
  text-align: center;
}
.creator--topSmall {
  display: block;
  color: #c42307;
}

.creator--topBig {
  font-size: 3rem;
  margin-bottom: 3rem;
  display: block;
}

.ranking {
  text-align: center;
  margin-bottom: 4rem;
}

.ranking-btn {
  text-decoration: none;
  color: rgb(26, 1, 32);
  background-color: rgba(142, 123, 180, 0.781);
  padding: 0.2rem 1.2rem;
  border-radius: 100px;
  font-size: 2rem;
  margin-top: 2rem;
}

.ranking-btn:hover {
  background-color: hsla(260, 29%, 36%, 1);
  color: rgb(26, 1, 32);
  box-shadow: 0 2rem 4rem rgb(0 0 0 / 40%);
}

.ranking-btn:active {
  color: #eee;
}

.community {
  color: #fff;
  display: flex;
  justify-content: center;
  margin-bottom: 20rem;
}

.community__heading {
  text-align: center;
  background: rgba(0, 0, 0, 0.103);
  border-radius: 3rem;
  padding: 3rem;
}
.community__heading p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.community__heading h3 {
  margin-bottom: 3rem;
}

.discord {
  text-decoration: none;
  color: #000;
  background-color: rgba(142, 123, 180, 0.781);
  padding: 0.2rem 1.2rem;
  border-radius: 100px;
  font-size: 2rem;
  margin-top: 2rem;
}

.discord:hover {
  background-color: hsla(260, 29%, 36%, 1);
  color: rgb(26, 1, 32);
  box-shadow: 0 2rem 4rem rgb(0 0 0 / 40%);
}

.discord:active {
  color: #eee;
}

/* *** FOOTER *** */

footer {
  padding: 0 6rem;
  color: rgb(26, 1, 32);
  display: grid;
  grid-template-columns: 2fr 1.5fr 1fr 1fr;
  gap: 4rem;
  font-size: 1.8rem;
}

footer h4 {
  font-size: 2.3rem;
  color: #000;
}

footer li {
  list-style: none;
}

.footer-col-2 {
  margin-left: 10rem;
}

.logo-foot {
  height: 4rem;
}

.footer-link {
  text-decoration: none;
  color: rgb(26, 1, 32);
  display: inline-block;
  padding: 0.2rem;
}

.footer-link:hover {
  background-color: rgba(142, 123, 180, 0.781);
}

.footer-link:active {
  color: #eee;
}

/* **** RESPONSIVENESS **** */

@media screen and (max-width: 1254px) {
  .top__creators {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    place-items: center;
  }
}

@media screen and (max-width: 1216px) {
  .blockchain-image {
    position: relative;
    margin-right: 20rem;
    /* margin-left: 20rem; */
    margin-top: 0.4rem;
  }

  .ape {
    width: 20rem;
    height: 30rem;
  }

  .ape--3 {
    top: 25rem;
  }

  .ape--2 {
    top: 25rem;
  }
}

@media screen and (max-width: 1154px) {
  .blockchain-image {
    position: relative;
    margin-right: 16rem;
    /* margin-left: 20rem; */
    margin-top: 0.4rem;
  }

  .ape {
    width: 15rem;
    height: 20rem;
  }

  .ape--3 {
    top: 25rem;
  }

  .ape--2 {
    top: 25rem;
  }
}

@media screen and (max-width: 1120px) {
  header {
    display: grid;
    /* justify-content: space-between; */
    grid-template-columns: 1fr 4fr 0.5fr 2fr;
    /* padding: 0 4rem; */
    font-size: 1.8rem;
    margin-bottom: 10rem;
    /* gap: 2rem; */
  }

  .blockchain-image {
    height: 40rem;
    margin-top: -8rem;
  }

  h1 {
    font-size: 4rem;
  }

  .header__logo-box {
    position: absolute;
    top: 5rem;
    left: 2rem;
  }
  .header__logo {
    height: 2rem;
  }

  .connect--nav {
    margin-left: 6rem;
    text-align: center;
    width: 15rem;
  }

  #search {
    width: 9rem;
    height: 2px;
    margin-left: -4rem;
  }

  ::placeholder {
    font-size: 1.4rem;
    color: rgb(26, 1, 32);
  }

  .navigation-bar li a {
    margin-left: -1rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  .col--2 {
    /* width: 10rem; */
    margin-left: -8rem;
  }

  .big--h3 {
    /* letter-spacing: 0.5; */
    font-size: 4rem;
  }

  .eth--icon {
    left: 7.5rem;
  }

  .img--white {
    height: 38rem;
  }

  .logo--isolated {
    height: 30rem;
    margin-top: -7rem;
    margin-bottom: 9rem;
  }

  .img--purple {
    height: 38rem;
  }

  .card--subscribe {
    margin-top: -18rem;
  }
}

@media screen and (max-width: 1014px) {
  .big--h3 {
    font-size: 3rem;
    letter-spacing: normal;
    margin-right: 10rem;
    text-align: center;
    margin-top: 9rem;
    display: inline-block;
    position: absolute;
  }
}

@media screen and (max-width: 1150px) {
  .market--img {
    width: 200px;
  }

  .small--menu {
    position: absolute;
    left: 15rem;
  }
}

@media screen and (max-width: 1010px) {
  #search {
    margin-right: -7rem;
  }
}

@media screen and (max-width: 1062px) {
  #search {
    height: 2px;
  }
}

@media screen and (max-width: 910px) {
  .big--h3 {
    margin-left: 10rem;
  }
}
@media screen and (max-width: 982px) {
  .connect--nav,
  .navigation-bar,
  #search {
    display: none;
  }

  .header__logo {
    height: 3.2rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-wrap {
    display: inline-block;
  }
}

@media screen and (max-width: 984px) {
  .nfts {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .purple-break {
    display: inline-block;
  }
}

@media screen and (max-width: 974px) {
  .big--h3 {
    margin-left: 16rem;
  }
}

@media screen and (max-width: 948px) {
  .head {
    flex-direction: column;
  }

  .blockchain-image {
    display: grid;
    place-items: center;
    transform: translateX(12%);
  }

  .ape {
    width: 20rem;
  }

  .ape--3 {
    left: 30%;
  }

  .col-1 {
    text-align: -webkit-center;
  }

  .img--white,
  .img--purple {
    height: 30rem;
  }
  .card--subscribe {
    margin-top: -23rem;
    padding: 0.5rem 0.5rem;
    margin-bottom: 9rem;
  }

  .logo--isolated {
    margin-top: -9rem;
    margin-bottom: 10rem;
  }

  .categories {
    padding: 0 10rem;
  }
}

@media screen and (max-width: 836px) {
  .img--white {
    height: 25rem;
  }

  .img--purple {
    height: 25rem;
  }

  .logo--isolated {
    width: 36rem;
  }
}

@media screen and (max-width: 814px) {
  header {
    padding: 2rem 3rem;
  }
  .ape--1 {
    left: 5%;
  }
  footer {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 800px) {
  .wallet-icon {
    height: 8rem;
  }
}

@media screen and (max-width: 784px) {
  .nfts {
    grid-template-columns: 1fr 1fr;
  }

  .cans {
    transform: translateX(75%);
  }

  .top__creators {
    padding: 0 3rem;
  }

  .footer-col-2 {
    margin-left: 4rem;
  }
}

@media screen and (max-width: 758px) {
  .top__creators {
    padding: 0 2rem;
  }

  /* .archy {
    transform: translateX(110%);
  } */

  .creator-description {
    font-size: 1.7rem;
  }

  .creator-head {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 740px) {
  .subscribe--section {
    flex-direction: column;
    transform: translateX(25%);
  }

  .creator-cards {
    flex-direction: column;
  }

  .card--subscribe {
    width: 38rem;
    margin-top: -18rem;
    margin-bottom: 2rem;
  }

  .img--white,
  .img--purple {
    transform: translateX(7rem);
  }

  .top__creators {
    grid-template-columns: 1fr 1fr;
  }

  .creator-description {
    font-size: 1.6rem;
  }
  .creator-head {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 716px) {
  footer {
    padding: 0 3rem;
    font-size: 1.4rem;
  }

  .footer-col-2 {
    margin-left: auto;
  }
  .creator-description {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 686px) {
  .col--1 {
    margin-left: -3.5rem;
  }
  .community__heading {
    width: 30rem;
  }

  .blockchain-wallet {
    padding: 0 3rem;
  }

  .ape--3 {
    left: 20%;
  }
  .creator-description {
    font-size: 1.4rem;
  }
  .creator-head {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 634px) {
  h1 {
    transform: translateX(-3rem);
  }
  .head p {
    margin-left: 0.6rem;
  }
  .cans {
    transform: translateX(55%);
  }
  .creator-description {
    font-size: 1.3rem;
  }
  .creator-head {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 640px) {
  .footer-col-3 {
    margin-left: -3rem;
  }

  .footer-col-4 {
    margin-left: -3rem;
  }
  .cans {
    transform: translateX(55%);
  }
}

@media screen and (max-width: 635px) {
  h1 {
    font-size: 2.6rem;
    transform: translateX(-2rem);
  }

  .head p {
    transform: translateX(-2rem);
  }
}

@media screen and (max-width: 626px) {
  .blockchain-wallet {
    padding: 0 8rem;
  }

  .wallet-icon {
    height: 5rem;
  }
  h1 {
    font-size: 3rem;
  }

  .big--h3 {
    font-size: 2.5rem;
  }
  .creator-description {
    font-size: 1.2rem;
  }
  .creator-head {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 632px) {
  .head p {
    transform: translateX(1rem);
  }
}

@media screen and (max-width: 592px) {
  h1 {
    /* font-size: 2.3rem; */
    transform: translateX(-4rem);
  }

  .head p {
    transform: translateX(2rem);
  }
}

@media screen and (max-width: 586px) {
  h1 {
    transform: translateX(-7rem);
  }

  .head p {
    margin-left: -3.4rem;
    font-size: 1.8rem;
  }

  .ape--1 {
    left: 6%;
  }

  .big--h3 {
    font-size: 2rem;
  }

  .card--subscribe {
    width: 28rem;
    transform: translateX(0rem);
  }
  #email {
    width: 12rem;
    font-size: 1rem;
  }

  input#email::placeholder {
    font-size: 1rem;
  }

  .logo--isolated {
    width: 27rem;
  }

  .img--white,
  .img--purple {
    transform: translateX(3rem);
  }

  .creator-cards {
    flex-direction: column;
    width: 28rem;
    transform: translateX(87px);
  }

  .logo-foot {
    height: 3rem;
  }

  .categories {
    padding: 0 6rem;
  }
  .col--1 {
    margin-left: -7.5rem;
  }
  .creator-description {
    font-size: 1.1rem;
  }
  .creator-head {
    font-size: 1.2rem;
  }

  footer h4 {
    font-size: 1.8rem;
  }
  footer {
    font-size: 1rem;
  }

  .logo-foot {
    height: 2rem;
  }
}
@media screen and (max-width: 552px) {
  h1 {
    font-size: 2.2rem;
    transform: translateX(-9rem);
  }

  .head p {
    font-size: 1.5rem;
    text-align: center;
  }

  .creator-description {
    font-size: 1rem;
  }
  .creator-head {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 518px) {
  h1 {
    transform: translateX(-11rem);
    font-size: 2.2rem;
  }

  .ape--1 {
    left: 15%;
  }

  h2 {
    margin-left: 2.89rem;
    font-size: 1.8rem;
  }

  .big--h3 {
    margin-top: 8.5rem;
  }

  .market--img {
    width: 150px;
    margin-left: 11rem;
  }

  .eth--icon {
    left: 4.7rem;
  }

  .description {
    font-size: 1rem;
    margin-left: -5rem;
  }

  .small--menu {
    left: 10rem;
    top: 0rem;
  }

  .nft--nameMenu {
    font-size: 1.6rem;
  }

  .categories {
    padding: 0 3rem;
  }

  .subscribe {
    transform: translateX(-1.5rem);
  }

  .creator-cards {
    transform: translateX(4.6rem);
  }

  .creator-head {
    font-size: 1rem;
  }

  .creator-description {
    font-size: 0.9rem;
  }

  .create-img {
    width: 4rem;
  }
}
@media screen and (max-width: 485px) {
  .header__logo {
    height: 2.2rem;
    margin-left: -2rem;
  }
  .hamburger {
    margin-left: -22rem;
  }

  h1 {
    font-size: 1.8rem;
    /* transform: translateX(-12.9rem); */
  }

  .head p {
    /* font-size: 1rem; */
    transform: translateX(1.5rem);
    width: 28rem;
  }

  .ape {
    width: 17rem;
  }

  .ape--1 {
    top: 2rem;
  }

  .wallets {
    margin-left: -1.5rem;
  }

  .top__creators {
    grid-template-columns: 0fr 0fr;
    padding: 0;
  }

  .top-col {
    font-size: 1.2rem;
  }

  .drops-img {
    width: 15rem;
  }

  .nfts {
    grid-template-columns: 0.5fr 0.5fr;
  }

  .community {
    font-size: 1.2rem;
  }

  .community p {
    font-size: 1rem;
  }

  .creator--btn a {
    font-size: 1rem;
  }
  .ranking-btn {
    font-size: 1rem;
  }

  .discord {
    font-size: 1rem;
  }
}

@media screen and (max-width: 447px) {
  h1 {
    font-size: 1.7rem;
    transform: translateX(-13.899999999999999rem);
  }

  .head p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 450px) {
  .blockchain-wallet {
    padding: 0 4rem;
  }

  .img--white,
  .img--purple {
    transform: translateX(1rem);
  }

  .logo--isolated {
    transform: translateX(-1.4rem);
  }

  .card--subscribe {
    transform: translateX(-2rem);
  }
  .creator-cards {
    transform: translateX(1.5rem);
  }

  .creator--btn {
    transform: translateX(-0.5rem);
  }

  .top-col {
    font-size: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .top__creators {
    gap: 1rem;
  }

  .nfts {
    gap: 1rem;
  }
}

@media screen and (max-width: 415px) {
  header {
    margin-bottom: 5rem;
  }
  h1 {
    transform: translateX(-15rem);
  }

  .blockchain-image {
    transform: translateX(25%);
    margin-bottom: -11rem;
  }

  .ape {
    height: 12rem;
    width: 12rem;
  }

  .ape--1 {
    top: -5%;
    left: 2rem;
  }

  .big--h3 {
    font-size: 1.8rem;
  }

  .drops-img {
    width: 12rem;
  }

  .nft--card {
    width: 12rem;
    font-size: 1.4rem;
  }

  .market--place {
    margin-bottom: -10rem;
  }

  .card--eth {
    height: 1.8rem;
  }
  .connect-card {
    font-size: 1.2rem;
  }

  .community__heading {
    width: 18rem;
    margin-bottom: -12rem;
  }

  footer {
    font-size: 0.7rem;
  }

  footer h4 {
    font-size: 1.4rem;
  }

  .logo-foot {
    height: 1.5rem;
  }
}

@media screen and (max-width: 404px) {
  .top-col {
    width: 9rem;
  }

  .subscribe--heading {
    font-size: 2rem;
  }
  .card--subscribe {
    font-size: 1rem;
  }

  .card--subscribe {
    transform: translateX(-28px);
  }

  .img--white,
  .img--purple {
    transform: translateX(-1rem);
  }

  .creator h3 {
    font-size: 1.9rem;
  }

  .creator-cards {
    transform: translateX(-0.5rem);
  }

  .top-creator h3 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 396px) {
  h1 {
    transform: translateX(-17rem);
    font-size: 1.6rem;
  }

  .wallet-icon {
    height: 4rem;
  }

  .big--h3 {
    margin-left: 12rem;
    margin-top: 3.8rem;
    font-size: 2rem;
  }
}
