* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "NTR", sans-serif;
  font-size: 2.3rem;
  color: rgb(26, 1, 32);
  font-weight: 600;
  line-height: 1.7;

  background: hsla(205, 46%, 30% 1);
  background: linear-gradient(
    90deg,
    hsla(205, 46%, 30%, 1) 0%,
    hsla(260, 29%, 36%, 1) 100%
  );

  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7rem;
  padding-top: 3rem;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 6rem;
}

.main {
  width: 100vw;
  max-width: 1440px;
  min-width: 340px;
  /* background: hsla(205, 46%, 30% 1);
  background: linear-gradient(
    90deg,
    hsla(205, 46%, 30%, 1) 0%,
    hsla(260, 29%, 36%, 1) 100%
  ); */
  background-size: contain;
  background-position: top;
  margin: 0 auto;
}

.header__logo-box {
  position: absolute;
  top: 5rem;
  left: 4rem;
}

.header__logo {
  height: 4rem;
}

.logo {
  text-decoration: none;
  color: #fff;
}

.navigation-bar {
  margin-left: 10rem;
}

.navigation-bar li {
  display: inline;
  padding: 0.7rem;
}

.navigation-bar li a {
  text-decoration: none;
  color: #fff;
}

.navigation-bar li a:hover {
  color: rgba(185, 161, 235, 0.781);
}

.navigation-bar li a:active {
  color: #99e9f2;
}

#search {
  width: 12rem;
  height: 0.1rem;
  font-size: 2.1rem;
  border-radius: 100px;
  border: none;
  padding: 2rem;
  color: rgba(185, 161, 235, 0.781);
}

.connect {
  background-color: rgba(142, 123, 180, 0.781);
  color: #fff;
  text-decoration: none;
  border-radius: 100px;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.connect:hover {
  background-color: #fff;
  color: hsla(260, 29%, 36%, 1);
  box-shadow: 0 2rem 4rem rgb(0 0 0 / 40%);
}
.connect:active {
  color: #99e9f2;
  transform: translateY(0.2rem);
}

/* heading */

h1 {
  font-family: "Aldrich", sans-serif;
  font-size: 7rem;
  margin-left: 2.5rem;
  color: #eee;
  width: 60rem;
  margin-bottom: 0.95rem;
  margin-left: 6rem;
  animation: heading 1.2s ease-out 0.3s;
}

@keyframes heading {
  0% {
    transform: translateX(-100%);
  }

  80% {
    transform: translateX(5%);
  }

  100% {
    transform: translateX(0);
  }
}

.head {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.head p {
  font-size: 2rem;
  width: 40rem;

  margin-left: 6rem;
  color: rgb(26, 1, 32);
  text-align: justify;

  animation: paragraph 0.8s ease-out;
}

@keyframes paragraph {
  0% {
    opacity: 0%;
    transform: translateY(50%);
  }
}

.blockchain-image {
  position: relative;
  margin-right: 24rem;
  margin-top: 0.4rem;
}

.ape {
  width: 25rem;
  position: relative;
  border-radius: 10px;
  z-index: 3;
  animation: apeAnimate 1s ease-out;
}

@keyframes apeAnimate {
  0% {
    transform: rotate(20deg);
  }
}

.ape--1 {
  display: inline-block;
  margin-top: 3rem;
}
.ape--2 {
  z-index: 0;
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin-left: -0 2rem;
  transform: rotate(45deg);
  margin-top: -10rem;
  animation: secondAnimate 1s ease-out;
}

@keyframes secondAnimate {
  0% {
    transform: rotateX(-20deg);
  }
}

.ape--3 {
  z-index: 1;
  margin-top: -10rem;
  position: absolute;
  bottom: 5%;
  left: -40%;
  transform: rotate(-45deg);
}

/* WALLETS */

.wallet-icon {
  height: 10rem;
}

.blockchain-wallet {
  display: flex;
  justify-content: space-between;
  padding: 0 6rem;
  align-items: center;
}

.wallets {
  margin-bottom: 3rem;
}

h2 {
  text-transform: uppercase;
  font-size: 5.5rem;
  margin-left: 6rem;
  color: rgb(26, 1, 32);
}

.market--place {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.market--img {
  width: 30rem;
  border-radius: 1.8rem;
  margin-left: 15rem;
  background-color: rgba(142, 123, 180, 0.26);
  padding: 0.8rem 0.8rem 18rem 0.8rem;
  position: relative;
  margin-bottom: 5rem;
}

.col--1 {
  margin-bottom: 10rem;
}

.col--2 h3 {
  text-transform: capitalize;
  font-size: 5.5rem;
  width: 60rem;
  letter-spacing: 2rem;
  color: rgb(26, 1, 32);
  margin-top: 5rem;
}

.nft--nameMenu {
  position: absolute;
  color: #fff;
  font-size: 2.3rem;
  margin-top: -23rem;
  margin-left: 18rem;
  align-items: center;
}

.hope {
  display: flex;
  justify-content: center;
  gap: 18rem;
}

.small--menu {
  text-decoration: none;
  color: #fff;
}

.small--menu:hover {
  color: #99e9f2;
}

.small--menu:active {
  color: #000;
}

.username {
  font-size: 1.5rem;
  color: #eee;
}

.price {
  font-size: 1.8rem;
  margin-top: -2rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.eth--icon {
  height: 2rem;
}

.categories {
  padding: 0 6rem;
}

.categories h3 {
  text-align: center;
  font-size: 2.5rem;
  color: #c42307;
  margin-bottom: 3rem;
}

.nfts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 5rem;
  gap: 2rem;
  border-top: 8px solid rgba(142, 123, 180, 0.781);
  border-bottom: 8px solid rgba(142, 123, 180, 0.781);
  place-items: center;
}

.drops-img {
  height: 18rem;
  border-radius: 20px;
  position: relative;
  width: 18rem;
  border: none;
  display: block;
  transition: all 0.4s;
}
.drops-img:hover {
  transform: scale(1.1);
}

.connect-card {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: rgba(142, 123, 180, 0.781);
  color: #eee;
  border-radius: 100px;
  padding: 0.5rem;
  font-size: 2rem;
}

.connect-card:hover {
  background-color: #fff;
  color: hsla(260, 29%, 36%, 1);
  box-shadow: 0 2rem 4rem rgb(0 0 0 / 40%);
}

.connect-card:active {
  color: #22b8cf;
  transform: translateY(0.2rem);
}

.drops-row-1 {
  margin-left: 6rem;
}

.nft--card {
  border-radius: 1.8rem;
  margin-bottom: 5rem;
  padding: 1.5rem 1.5rem 4rem;
  background-color: rgba(142, 123, 180, 0.781);
  font-size: 1.8rem;
  color: #000;
  text-align: center;
}

.drops-price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe--section {
  display: flex;
  justify-content: center;
}

.logo--isolated {
  height: 35rem;
  width: 40rem;
}

.subscribe--heading {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}

.card--subscribe p {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

#email {
  padding: 1rem;
  width: 20rem;
  border-radius: 100px;
  height: 0.5rem;
  margin-left: 2rem;
}

.btn--subscribe {
  font-size: 1.5rem;
  margin-left: 3rem;
}

.card--subscribe {
  margin-top: -8rem;
  padding: 1rem;
  background-color: rgba(142, 123, 180, 0.781);
  border-radius: 3rem;
}

.input--subscribe {
  display: flex;
  align-items: center;
}

.btn--subscribe {
  text-decoration: none;
  color: hsla(260, 29%, 36%, 1);
  background-color: #eee;
  padding: 0.2rem 1rem 0.2rem 1rem;
  height: 2.5rem;
  border-radius: 1.8rem;
}

.btn--subscribe:hover {
  background-color: hsla(260, 29%, 36%, 1);
  color: rgb(26, 1, 32);
}

.btn--subscribe:active {
  color: #eee;
}

.creator h3 {
  text-align: center;
}

.creator--small {
  display: block;
  color: #c42307;
  font-size: 2rem;
}

.create-img {
  width: 5rem;
}

.creator-cards {
  display: flex;
  justify-content: space-between;
  padding: 0 6rem;
  gap: 2rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.creator-head {
  text-align: center;
  margin-top: 3rem;
}

.creator-description {
  text-align: center;
  font-weight: 300;
}

.create-img {
  transform: translateX(-50%);
  position: absolute;
  top: 5%;
  left: 50%;
}

.creator--card1 {
  padding: 3rem;
  background-color: rgba(142, 123, 180, 0.781);
  border-radius: 2rem;
  position: relative;
}
.creator--card2 {
  padding: 3rem;
  background-color: rgba(142, 123, 180, 0.781);
  border-radius: 2rem;
  position: relative;
}
.creator--card3 {
  padding: 3rem;
  background-color: rgba(142, 123, 180, 0.781);
  border-radius: 2rem;
  position: relative;
}

.creator--btn {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 5rem;
}
.creator--btn a {
  text-decoration: none;
  color: rgb(26, 1, 32);
  background-color: rgba(142, 123, 180, 0.781);
  padding: 0.2rem 1.2rem;
  border-radius: 100px;
  font-size: 2rem;
}

.creator--btn a:hover {
  background-color: hsla(260, 29%, 36%, 1);
  box-shadow: 0 2rem 4rem rgb(0 0 0 / 40%);
}

.creator--btn a:active {
  color: #eee;
}

.top__creators {
  padding: 0 6rem;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 3rem;
  margin-bottom: 5rem;
}

.profile--img {
  height: 5rem;
  margin-top: -1.5rem;
  margin-left: -1rem;
  border-radius: 1rem;
}

.top--card {
  display: flex;
  justify-content: space-between;
  color: #eee;
}

.top-col {
  padding: 2rem 4rem;
  background: hsla(205, 46%, 30% 1);
  background: linear-gradient(
    90deg,
    hsla(205, 46%, 30%, 1) 0%,
    hsla(260, 29%, 36%, 1) 120%
  );
  height: 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
}

.top--profile {
  margin-top: -1.5rem;
  margin-left: 1rem;
}

.top--price {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.top--eth {
  height: 3rem;
}

.top-creator {
  text-align: center;
}
.creator--topSmall {
  display: block;
  color: #c42307;
}

.creator--topBig {
  font-size: 3rem;
  margin-bottom: 3rem;
  display: block;
}

.ranking {
  text-align: center;
  margin-bottom: 4rem;
}

.ranking-btn {
  text-decoration: none;
  color: rgb(26, 1, 32);
  background-color: rgba(142, 123, 180, 0.781);
  padding: 0.2rem 1.2rem;
  border-radius: 100px;
  font-size: 2rem;
  margin-top: 2rem;
}

.ranking-btn:hover {
  background-color: hsla(260, 29%, 36%, 1);
  color: rgb(26, 1, 32);
  box-shadow: 0 2rem 4rem rgb(0 0 0 / 40%);
}

.ranking-btn:active {
  color: #eee;
}

.community {
  color: #fff;
  display: flex;
  justify-content: center;
  margin-bottom: 20rem;
}

.community__heading {
  text-align: center;
  background: rgba(0, 0, 0, 0.103);
  border-radius: 3rem;
  padding: 3rem;
}
.community__heading p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.community__heading h3 {
  margin-bottom: 3rem;
}

.discord {
  text-decoration: none;
  color: #000;
  background-color: rgba(142, 123, 180, 0.781);
  padding: 0.2rem 1.2rem;
  border-radius: 100px;
  font-size: 2rem;
  margin-top: 2rem;
}

.discord:hover {
  background-color: hsla(260, 29%, 36%, 1);
  color: rgb(26, 1, 32);
  box-shadow: 0 2rem 4rem rgb(0 0 0 / 40%);
}

.discord:active {
  color: #eee;
}

/* *** FOOTER *** */

footer {
  padding: 0 6rem;
  color: rgb(26, 1, 32);
  display: grid;
  grid-template-columns: 2fr 1.5fr 1fr 1fr;
  gap: 4rem;
  font-size: 1.8rem;
}

footer h4 {
  font-size: 2.3rem;
  color: rgb(26, 1, 32);
}

footer li {
  list-style: none;
}

.footer-col-2 {
  margin-left: 10rem;
}

.logo-foot {
  height: 4rem;
}

.footer-link {
  text-decoration: none;
  color: rgb(26, 1, 32);
  display: inline-block;
  padding: 0.2rem;
}

.footer-link:hover {
  background-color: rgba(142, 123, 180, 0.781);
}

.footer-link:active {
  color: #eee;
}
